
  <div class="card">
        <div class="card-body">
          <h4 class="card-title">Available Contents</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Uploader</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0 ; i < contentList.length; i++){ %>
                <tr>
                  <td><%= contentList[i].name%></td>
                  <td>
                      <% for(var j = 0; j < categoryList.length; j++){ %>
                        <% if(categoryList[j].id == contentList[i].category){ %>
                        <%= categoryList[j].name %>
                      <% }} %>
                  </td>
                  <td>
                      <% for(var j = 0; j < uploaderList.length; j++){ %>
                        <% if(uploaderList[j].id == contentList[i].uploader){ %>
                        <%= uploaderList[j].name %>
                        <% if(uploaderList[j].type==1){%>
                        (Admin)
                        <%}else if(uploaderList[j].type==2){%>
                        (Moderator)
                      <% }}} %>
                  </td>
                    <td>
                        <form method="GET" action="/home/content/<%=contentList[i].id%>">
                            <button type="submit" class="btn-info">Show</button>
                        </form>
                        <br>
                        <form method="GET" action="/home/content/edit/<%=contentList[i].id%>">
                            <button type="submit" class="btn-success">Edit</button>
                        </form>
                        <br>
                        
                        <form method="POST" action="/home/content/delete/<%=contentList[i].id%>">
                            <button type="submit" class="btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>